In [1]:
#ARITHMATIC OPERATOR 
    #Addition "+"
    
a=3
b=4
print(a+b)

7

In [3]:
    #Subtraction "-"
a=8
b=4
print(a-b)

4

In [4]:
    #Multiplication "*"
a=2
b=5
print(a*b)

10

In [10]:
    #Division "/"
a=10
b=2
print(a/b)

5.0

In [11]:
    #Floor Division "//"
    
a=11
b=2
print(a/b) #---normal division

a=11
b=2
print(a//b) #---floor division

5.5
5

In [12]:
    #Modulus "%"
    
a=18
b=5
print(a%b)

3

In [13]:
    #Exponent "**"
    
a=3
b=2
print(a**b)

9

In [22]:
#RELATIONAL OPERATOR
    #Greater than ">"

a=8
b=6
print(a>b)

a=4
b=6
print(a>b)

a=6
b=6
print(a>b)

True
False
False

In [23]:
    #Less than "<"

a=8
b=10
print(a<b)

a=12
b=10
print(a<b)

a=6
b=6
print(a<b)

True
False
False

In [20]:
    #Equal to "=="

a=5
b=5
print(a==b)

a=6
b=5
print(a==b)

True
False

In [21]:
    #Not equal to "!="
    
a=5
b=5
print(a!=b)

a=5
b=6
print(a!=b)

False
True

In [24]:
    #Greater than equal to ">="
    
a=15
b=10
print(a>=b)

a=15
b=15
print(a>=b)

a=15
b=16
print(a>=b)

True
True
False

In [25]:
    #Less than equal to "<="

a=15
b=10
print(a<=b)

a=15
b=15
print(a<=b)

a=15
b=16
print(a<=b)

False
True
True

In [2]:
#ASSIGNMENT OPERATOR
    #Assign"="
    
a=5
print(a)

a="b"
print(a)

5
b

In [3]:
    #Add and assign "+="
    
a=4
b=5
a+=b
print(a)

a=4
b=5
a+=b
print(b)

9
5

In [2]:
    #Subtract and assign "+="
    
a=9
b=5
a-=b #a=a-b
print(a)

a=4
b=5
a-=b #a=a-b
print(b)

4
5

In [3]:
    #Multiply and assign "+="
    
a=9
b=5
a*=b #a=a*b
print(a)

a=4
b=5
a*=b #a=a*b
print(b)

45
5

In [5]:
    #Divide and assign "+="
    
a=9
b=5
a/=b #a=a/b
print(a)

a=45
b=5
a/=b #a=a/b
print(a)

a=4
b=5
a/=b #a=a/b
print(b)

1.8
9.0
5

In [6]:
    #Floor Division and assign "+="
    
a=9
b=5
a//=b #a=a//b
print(a)

a=45
b=5
a//=b #a=a//b
print(a)

a=4
b=5
a//=b #a=a//b
print(b)

1
9
5

In [7]:
    #Exponent and assign "+="
    
a=9
b=5
a%=b #a=a%b
print(a)

a=45
b=5
a%=b #a=a%b
print(a)

a=4
b=5
a%=b #a=a%b
print(b)

4
0
5

In [9]:
    #Exponent and assign "+="
    
a=2
b=2
a**=b #a=a**b
print(a)

a=5
b=5
a**=b #a=a**b
print(a)

a=4
b=5
a**=b #a=a**b
print(b)

4
3125
5

In [15]:
#LOGICAL OPERATOR
    #1. and : The logical and operator returns True if both expressions are True.
    
x=5
print ("1",x<10 and x>4)

x=5
print ("2",x<10 and x>7)

print(1 and 20)
print(1 and 5)
print (6 and 16)

1 True
2 False
20
5
16

In [17]:
    #2. or : The logical or the operator returns a boolean True if one expression is true.
    
x=5
print ("1",x<10 or x>4)

x=5
print ("2",x<10 or x>7)

print(1 or 20)
print(1 or 5)
print (6 or 16)

1 True
2 True
1
1
6

In [22]:
    #3. not : The logical not operator returns boolean True if the expression is false.

x=5
print(not(x>4))

x=5
print(not(x))

print(not 10)

False
False
False

In [26]:
#MEMBERSHIP OPERATOR
    #In operator returns true when value in the string or integer mentioned is present in the list or not.
    
x =["apple", "banana"]
print("apple" in x)

x =["apple", "banana"]
print("orange" in x)

True
False

In [27]:
    #Not in operator returns true when value in the string or integer mentioned is not present in the list or not.

x =["apple", "banana"]
print("apple" not in x)

x =["apple", "banana"]
print("orange" not in x)

False
True

In [28]:
#IDENTITY OPERATOR
    #The "is" operator returns Boolean True or False.
    
x=9
y=8
z=9
print(x is y)
print(x is z)

False
True

In [29]:
    #The "is not" operator returns Boolean True or False.
    
x=9
y=8
z=9
print(x is not y)
print(x is not z)

True
False

In [30]:
#BITWISE OPERATOR
    #and
    
#AND
a = 7
b = 4
c = 5
print(a & b)
print(a & c)
print(b & c)

4
5
4

In [31]:
#OR
a = 7
b = 4
c = 5
print(a | b)
print(a | c) 
print(b | c) 
print(13|17)

7
7
5
29

In [32]:
#XOR

a=55
b=21
print(a ^ b)

34