In [1]:
#Creating a set

a={1,2,3,4,5,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [6]:
#Creating set using paranthesis

a=set((1,2,5,7,6,8))
print(a)
type(a)

{1, 2, 5, 6, 7, 8}

set

In [8]:
#For adding items in given set there are two method:- Add and Update

fruits={"mango","apple","chikoo"}
fruits.add("orange")

#In add we can add only 1 element at a time

print(fruits)
fruits.add("grapes")
fruits.add("banana")
print(fruits)

{'apple', 'orange', 'chikoo', 'mango'}
{'grapes', 'orange', 'chikoo', 'mango', 'apple', 'banana'}

In [10]:
#Update method for adding, in this method we can add one or more elements in set.

fruits={"mango","apple","chikoo"}
fruits.update(["orange","banana"])
print(fruits)

fruits={"mango","apple","chikoo"}
fruits.update(["orange","banana","watermelon"])
print(fruits)

{'orange', 'chikoo', 'mango', 'apple', 'banana'}
{'orange', 'chikoo', 'mango', 'apple', 'watermelon', 'banana'}

In [11]:
a={"mango","apple","chikoo"}
b={"orange","banana","watermelon"}
a.update(b)
print(a)

{'apple', 'watermelon', 'banana', 'orange', 'chikoo', 'mango'}

In [12]:
#Remove method:- If the element which we need to remove is not present in set, it will throw error.

a={"mango","apple","chikoo","orange","banana","watermelon"}
a.remove("apple")
print(a)

{'watermelon', 'banana', 'orange', 'chikoo', 'mango'}

In [14]:
#Discard method:- If the element which we need to remove is not present in set, then too it will give output.

a={"mango","apple","chikoo","orange","banana","watermelon"}
a.discard("apple")
print(a)

a={"mango","apple","chikoo","orange","banana","watermelon"}
a.discard("Tushar")
print(a)

{'watermelon', 'banana', 'orange', 'chikoo', 'mango'}
{'apple', 'watermelon', 'banana', 'orange', 'chikoo', 'mango'}

In [16]:
#Pop method = It randomly removes any element from set

a={"mango","apple","chikoo","orange","banana","watermelon"}
a.pop()
print(a)

a={"mango","apple","chikoo","orange","banana","watermelon"}
deleted_item=a.pop()
print(deleted_item)

{'watermelon', 'banana', 'orange', 'chikoo', 'mango'}
apple

In [17]:
#Clear method - Remove all item from set

a={"mango","apple","chikoo","orange","banana","watermelon"}
a.clear()
print(a)

set()

In [20]:
#Del method- It deletes the whole set

a={"mango","apple","chikoo","orange","banana","watermelon"}

del a
print(a)

NameError: name 'a' is not defined

In [21]:
#SET operations
#Union of two sets - It simply merges two sets.

Fruits1={"mango","apple","chikoo"}
Fruits2={"orange","banana","watermelon"}

# "|" operator is used for union

Basket= Fruits1 | Fruits2
print(Basket)

{'apple', 'watermelon', 'banana', 'orange', 'chikoo', 'mango'}

In [22]:
#Another method for union is using union()

Fruits1={"mango","apple","chikoo"}
Fruits2={"orange","banana","watermelon"}

# union() is used for union

Basket= Fruits1.union(Fruits2)
print(Basket)

{'apple', 'watermelon', 'banana', 'orange', 'chikoo', 'mango'}

In [23]:
#Intersection:- Gives us the common element from both sets

Fruits1={"mango","apple","chikoo","orange"}
Fruits2={"orange","banana","watermelon"}

# "&" operator is used for union

Basket= Fruits1 & Fruits2 
print(Basket)

{'orange'}

In [24]:
#difference - It removes the common element from the first set and gives the rest element as output

Fruits1={"mango","apple","chikoo","orange","cherry"}
Fruits2={"orange","banana","watermelon"}

#"-" is the operator to be used

Basket = Fruits1 - Fruits2
print(Basket)

{'apple', 'cherry', 'chikoo', 'mango'}

In [25]:
#Another method for difference is difference()

Fruits1={"mango","apple","chikoo","orange","cherry"}
Fruits2={"orange","banana","watermelon"}

#using difference ()

Basket = Fruits1.difference(Fruits2)
print(Basket)

{'apple', 'cherry', 'chikoo', 'mango'}

In [27]:
#Symmetric difference - Filters out the common element and prints rest of the element

Fruits1={"mango","apple","chikoo","orange","cherry"}
Fruits2={"orange","banana","watermelon"}

#"^" is used for the same

Basket = Fruits1 ^ Fruits2
print(Basket)

{'chikoo', 'mango', 'apple', 'cherry', 'watermelon', 'banana'}

In [29]:
#symmetric_difference() is another method used for the same

Fruits1={"mango","apple","chikoo","orange","cherry"}
Fruits2={"orange","banana","watermelon"}

#symmetric_difference() is another method

Basket = Fruits1.symmetric_difference(Fruits2)
print(Basket)

{'chikoo', 'mango', 'apple', 'cherry', 'watermelon', 'banana'}

In [30]:
#to check whether set2 is subset of set1. Some elements should be common in first set. It returs true if it is subset of returns false.

Set1={1,2,3,6,4,8,6}
Set2={1,2,3}
print(Set2.issubset(Set1))
print(Set1.issubset(Set2))

True
False

In [31]:
#Disjoint - If neither of elements are present in any of the sets. Then this returs true.

Set1={1,2,3,6,4,8,6}
Set2={1,2,3}
Set3={7,9}
print(Set2.isdisjoint(Set1))
print(Set3.isdisjoint(Set1))

False
True

In [32]:
Set={1,2,3,4}
print(all(Set))

True

In [33]:
b={0,2,4,5,6}
print(any(b))

True

In [34]:
c={True,True}
print(all(c))

True

In [38]:
r={2,4,6,8}
s={"ABC","abc"}

print(max(r))

print(max(s))

print(min(r))

print(min(s))

8
abc
2
ABC