In [13]:
#1 Create list of your name,age, field ,location using [] and list constructor
name="Tushar"
age="24"
field="IT"
location="Kalyan"
List1=[name,age,field,location]
List2=((name,age,field,location))
print(List1)
print(List2)

['Tushar', '24', 'IT', 'Kalyan']
('Tushar', '24', 'IT', 'Kalyan')

In [14]:
#2 print only your field using index method 
name="Tushar"
age="24"
field="IT"
location="Kalyan"
List1=[name,age,field,location]
print(List[2])

IT

In [18]:
#3 print the position of location element

name="Tushar"
age="24"
field="IT"
location="Kalyan"
List1=[name,age,field,location]
print(List1)
List1.index(location)

['Tushar', '24', 'IT', 'Kalyan']

3

In [30]:
#4 print element btw age and locaton ,using forward and backward indexing

name="Tushar"
age="24"
field="IT"
location="Kalyan"
List1=[name,age,field,location]
print(List1)
print(List1[2:3:1])

['Tushar', '24', 'IT', 'Kalyan']
['IT']

In [38]:
#5 replace the element of name with surname

name="Tushar"
age="24"
field="IT"
location="Kalyan"
surname="Balsaraf"
List1=[name,age,field,location]
List1[0] = "Balsaraf"
print(List1)

['Balsaraf', '24', 'IT', 'Kalyan']

In [40]:
#6 replace the element of name ,age and field

name="Tushar"
age="24"
field="IT"
location="Kalyan"
surname="Balsaraf"
List1=[name,age,field,location]
List1[0]="Balsaraf"
List1[1]="Red"
List1[2]="Nettech"
print(List1)

['Balsaraf', 'Red', 'Nettech', 'Kalyan']

In [69]:
#7 replace the element of name,age with only surname

List=["Tushar", 24,"IT","Kalyan"]
List[0:2]=["Balsaraf"]
print(List)

['Balsaraf', 'IT', 'Kalyan']

In [70]:
#8 replace the element of name with your nickname and surname'

List=["Tushar", 24,"IT","Kalyan"]
List[0]=["Tushu", "Balsaraf"]
print(List)

[['Tushu', 'Balsaraf'], 24, 'IT', 'Kalyan']

In [72]:
#9 add your surname in the list after your first name

List=["Tushar", 24,"IT","Kalyan"]
List.insert(1,"Balsaraf")
print(List)

['Tushar', 'Balsaraf', 24, 'IT', 'Kalyan']

In [73]:
#10 add your only one hobby at the end of the list

List=["Tushar", 24,"IT","Kalyan"]
List.append("Trekking")
print(List)

['Tushar', 24, 'IT', 'Kalyan', 'Trekking']

In [95]:
#11 add your n-numbers of hobbies at the end of list

List1=["Tushar", 24,"IT","Kalyan"]
List2=["Trekking","Cycling","Singing"]
List1.append(List2)
print(List1)

['Tushar', 24, 'IT', 'Kalyan', ['Trekking', 'Cycling', 'Singing']]

In [77]:
#12 remove your location from list

List=["Tushar", 24,"IT","Kalyan"]
List.remove("Kalyan")
print(List)

['Tushar', 24, 'IT']

In [80]:
#13 remove your age from list[using 2 methods]

#First method

List=["Tushar", 24,"IT","Kalyan"]
List.remove(24)
print(List)

#Second method

List=["Tushar", 24,"IT","Kalyan"]
List.pop(1)
print(List)

['Tushar', 'IT', 'Kalyan']
['Tushar', 'IT', 'Kalyan']

In [81]:
#14 remove last element from the list

List=["Tushar", 24,"IT","Kalyan"]
List.pop()
print(List)

['Tushar', 24, 'IT']

In [84]:
#15 remove all element from the list(empty)

List=["Tushar", 24,"IT","Kalyan"]
List.clear()
print(List)

[]

In [86]:
#16 delete the list

List=["Tushar", 24,"IT","Kalyan"]
del List

In [90]:
#17 create a list of prime numbers till 20 and find the length of it

List=[1,2,3,5,7,11,13,17,19]
print(len(List))

9

In [93]:
#18 create a list of 5,2,18,7,12 and print in ascending and descending order

List=[5,2,18,7,12]
List.sort()
print(List)
List.reverse()
print(List)

[2, 5, 7, 12, 18]
[18, 12, 7, 5, 2]

In [96]:
#19 merge two list

List1= ["Tushar", "Deepak", "Balsaraf"]
List2= [24, 26, 28]
List3 = List1+List2
print(List3)

['Tushar', 'Deepak', 'Balsaraf', 24, 26, 28]

In [97]:
#20 make a deep copy of list and check whether it is copying deeply or not

List=["orange","mango","banana"]
List1=List
print(List1)
#checking whether it is deeply copied

List.append("watermelon")
print(List)
print(List1)

['orange', 'mango', 'banana']
['orange', 'mango', 'banana', 'watermelon']
['orange', 'mango', 'banana', 'watermelon']

In [99]:
#21 make a copy of list in that way  making changes in one list will not affect to the another list

List=["orange","mango","banana"]
List1=List.copy()
print(List1)

#checking whether the orignal list is not affected

List.append("watermelon")
print(List)
print(List1)

['orange', 'mango', 'banana']
['orange', 'mango', 'banana', 'watermelon']
['orange', 'mango', 'banana']

In [5]:
#22 Take any example to  explain stack and queue

List =["Amar","Akbar","Anthony"]

#Stack works on the pricipal of last in first out. Now, we are adding elements in list.

List.append("Aamir")
List.append("Abdul")
print(List)

#Now will take one by one element out by pop method

List.pop()
print(List)

#One element from last is removed

List.pop()
print(List)

#One more element from last is removed

#Now will see queue working

List =["Amar","Akbar","Anthony"]

#Queue works on the pricipal of first in first out. Now, we are adding elements in list.

List.append("Aamir")
List.append("Abdul")
print(List)

#Now will take one by one element out by pop method

List.pop(0)
print(List)

List.pop(0)
print(List)

['Amar', 'Akbar', 'Anthony', 'Aamir', 'Abdul']
['Amar', 'Akbar', 'Anthony', 'Aamir']
['Amar', 'Akbar', 'Anthony']
['Amar', 'Akbar', 'Anthony', 'Aamir', 'Abdul']
['Akbar', 'Anthony', 'Aamir', 'Abdul']
['Anthony', 'Aamir', 'Abdul']

In [16]:
#23 zip four list contain with natural number your name,age, rollno

natural_num=[1,2,3,4]
name=["Tushar","Nikhil","Sanvee","Hrishi"]
age=[24,21,25,26]
roll_no=[1,2,3,4]

Data=zip(natural_num, name,age,roll_no)
Data=list(Data)
print(Data)

[(1, 'Tushar', 24, 1), (2, 'Nikhil', 21, 2), (3, 'Sanvee', 25, 3), (4, 'Hrishi', 26, 4)]

In [17]:
#24 unzip the above list

natural_num,name,age,roll_no=zip(*Data)
print(natural_num)
print(name)
print(age)
print(roll_no)

(1, 2, 3, 4)
('Tushar', 'Nikhil', 'Sanvee', 'Hrishi')
(24, 21, 25, 26)
(1, 2, 3, 4)